.main{
    width: 100%;
    height: auto;
    min-height: 1rem;
    padding: 5px;
    box-sizing: border-box;
    background-color: #effffc;
    border-radius: 20px;
    flex-grow: 1;
}

.username {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 3px 0px;
}

.caption {
    font-weight: bold;
    text-align: center;
}
.captionInner {
    display: inline-block;
    color: gray;
    padding: 5px 5px;
    font-size: 0.8rem;
} 
