.bobble {
    margin: 10px 0px;
    padding: 0 20px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.bobble.mainUser {
  
}

.boobleInner {
    display: inline-block;
    padding: 6px 6px;
    background-color: #fff;
    color:#43c1a9;
    width: 70%;
    align-self: flex-start;
    text-align: left;
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    border: 1px solid #ededed;
}
.bobble.mainUser .boobleInner {
    background-color: #43c1a9;
    color: white;
    align-self: flex-end;
    text-align: right;
    border-radius: 20px 20px 0 20px;
}

.username {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 3px 0px;
}

